<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        $(function () {
            $("#cos").select2({ placeholder: "Select", allowClear: false, width: "200" });
            $('#cos').on('change', function (e) {
                $('#yaz').val($(this).val());
            });
        });
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
